---
apiVersion: helm.fluxcd.io/v1
kind: HelmRelease
metadata:
  name: travis-test
  namespace: travis-test-stage
  annotations:
    fluxcd.io/automated: "true"
    filter.fluxcd.io/chart-image: glob:master-*
spec:
  releaseName: travis-test-stage
  chart:
    git: git@github.com:limed/travis-test
    path: charts/travis-test
    ref: master
  values:
    image:
      repository: limed/travis-test
      tag: master-a821fef8
    replicaCount: 2
    hpa:
      enabled: true
      maxReplicas: 1
      cpu: 50
      memory: 256Mi
